.form-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 1rem;
    max-width: 90%;
}

.form-header {
    justify-content: center;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    color: rgb(46, 48, 47)
}

.active-btn {
    cursor: pointer;
    color: #D50000;
    margin-top: 2.5rem;

}

.disable-btn {
    cursor: disabled;
    color: #515254;
    margin-top: 2.5rem;
}

.error-msg {
    color: #D50000;
}

.full-width {
    width: 100%;
}
.add-btn {
    cursor: pointer;
    color: rgb(163, 20, 173);
    margin-top: 2.5rem;
}

.border {
    padding: 2rem;
    margin: 1rem;
    border: 1px solid rgb(240, 225, 225);
    border-radius: 8px;
}
